<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello there, from the home.ejs file</h1>
    <p> Geoffrey </p>
    <%= title %> 

    <br />

    <% data.forEach(element => { %>
     <p>Number: <%= element %> </p>
    <% }) %>
  </body>
</html>
